"#----"
rpcuser=$RPCUSER
rpcpassword=$RPCPASS
rpcallowip=127.0.0.1
rpcport=9998
"#----"
listen=1
server=1
daemon=1
logtimestamps=1
maxconnections=64
"externalip=${IPADDR}"
"#----"
"#masternode=1"
"#masternodeprivkey=<replace_with_mnprivkey>"
